.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
*/workspace.xml


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.


post 	/project/category    	//增	
delete  /project/category/{id}  //删
put  	/project/category		//改
{
  "code": 20000,
  "message": "新增成功"
}
get 	/project/category/{id}   //查by ID
post 	/project/category/search   //分页查


put /project/category
